* {
   margin: 0px;
   padding: 0px;
}

body {
   display: flex;
   flex-direction: column;
   min-height: 100vh;
   font-size: 14px;
   color: #484848;
   font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
