* {
   margin: 0px;
   padding: 0px;
}

body {
   display: flex;
   flex-direction: column;
   min-height: 100vh;
   font-size: 14px;
   flex-wrap: wrap;
   color: #484848;
   font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.container {
    max-width: 1000px;
    margin-top: 30px;
    margin-bottom: 30px;
    align-self: center;
    width: 100%;
}
